/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-family: "Crafty Girls";

}


.nav-item:hover{
  background-color:green;

}


.jumbotron {
  background-image: url(../images/slide-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 3em;
}
.welcome {
  color: white;
}
.btn-lg {
  background-color: black;
}
.info {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: lightslategrey;
}
.ourreview {
  text-decoration-line: underline;
}
.customer {
  font-weight: bold;
}
.whatis {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: lightslategrey;
}
